@model SuperheroManager.Web.Controllers.SuperheroListViewModel
@{
    ViewBag.Title = "SuperheroView";
    Layout = "~/Views/_Layout.cshtml";
}

<h2>Superheroes</h2>

<table class="table table-responsive">
  <thead>
    <tr>
      <th>Name</th>
      <th>Teams</th>
      <th>Skills</th>
      <th>Actions</th>
    </tr>
  </thead>

  @foreach (var superhero in Model.Superheroes)
  {
      <tr>
        <td>
          @superhero.Name
        </td>
        <td>
          @(String.Join(", ", superhero.Teams.Select(team => team.Name)))
        </td>
        <td>
          @(String.Join(", ", superhero.Skills.Select(skill => skill.Name)))
        </td>
        <td>
          <a href="@Url.Action("RemoveHero", new { id = superhero.Id })" class="btn btn-danger">
            <i class="glyphicon glyphicon-trash"></i>
            Remove
          </a>
        </td>
      </tr>
  }
</table>
