@{
    Layout = null;
}

@model String

<!DOCTYPE html>

<html>
<head>
  <meta name="viewport" content="width=device-width" />
  <title>Superhero manager</title>
</head>
<body>
  <h1>
    Hello World!
  </h1>

  @foreach (var index in Enumerable.Range(0, 10))
  {
      <div>
        [@(index + 1)] Hello @Model
        @if (Model != null)
        {
            <span>(@Model.Length)</span>
        }
        <span>!</span>
      </div>
  }
</body>
</html>
