@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_MainLayoutPage.cshtml";
}

@section Title {
  <h1 class="page-title">
    About
  </h1>
}

<p>This webpage shows how easily we can create a simple blog post engine in ASP.NET MVC Framework.</p>

