<div class="navigation">
  <ul class="navigation__items">
    <li class="navigation__item">
      <a class="navigation__anchor"
         href="@Url.Action("Index", "Home")">
        Home
      </a>
    </li>
    <li class="navigation__item">
      <a class="navigation__anchor"
         href="@Url.Action("About", "Home")">
        About
      </a>
    </li>
  </ul>
</div>